.header .toolbar .toolbar-background {
    border-width: 0 !important;
}

.new-login-box {
    margin: 0 46px 24px 46px;
    .item {
        padding-left: 0;
        font-size: 1.5rem;
        .item-inner {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-right: 0;
        }
    }
}

.new-login-box .item-inner .label {
    color: #8fc9fd;
}

.new-login-box .item-inner .input {
    color: #fff;
}

.new-login-box button {
    width: 100%;
    margin-top: 24px;
    background: rgba(255, 255, 255, 0.2);
}

.new-login-box .orsection {
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

.new-login-box .orsection>span {
    position: relative;
    display: inline-block;
}

.new-login-box .orsection>span:before,
.new-login-box .orsection>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 592px;
    margin: 0 20px;
}

.new-login-box .orsection>span:before {
    right: 100%;
}

.new-login-box .orsection>span:after {
    left: 100%;
}

.new-login-box button:last-child {
    margin-top: 12px;
    background: none;
}

.new-login-box button:last-child .icon {
    font-size: 50px;
    padding-right: 5px;
}

.loginBox {
    background: linear-gradient(to bottom, #348ad6 20%, #57d2c1 100%);
    background-image: url('../../assets/images/gradient-abstract.jpg');
    background-position: 0 40px;
    background-size: 150%;
}

.loginBox h3 {
    margin-top: 0;
}

.loginBox .loginBoxForm {
    margin: 11px;
    border-radius: 2px;
    width: calc(100% - 24px);
    box-shadow: none;
    padding-bottom: 8px;
}

.loginBox .loginBoxForm,
.loginBox .item {
    background: transparent;
}

.loginBox .loginBoxForm button {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-top: 16px;
    background: #2365a0;
}

.loginBox .loginBoxForm ion-item {
    padding-right: 16px;
}

.loginBox .loginBoxForm .item-inner input {
    color: #fff;
}

.loginBox .loginBoxForm .item-inner input::-webkit-input-placeholder {
    color: #75b5d1;
}

.list-ios>.item-block:first-child {
    border: none;
}

.loginBox .card {
    width: calc(100% - 24px);
    margin-left: 12px;
}

.login-news {
    padding: 0 0 0 12px;
}

.login-news .col {
    padding: 0;
}

.login-news .card {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    width: calc(100% - 12px);
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    .icon {
        font-size: 55px;
        color: rgba(255, 255, 255, .7);
    }
    .card-title {
        padding: 5px 10px;
        text-align: center;
        color: #fff;
    }
}

.note-news {
    background: rgba(2, 61, 103, 0.5);
    .col {
        padding-top: 0;
        .note {
            line-height: 35px;
        }
    }
    .item {
        padding-left: 10px!important;
        padding-right: 0!important;
        ion-avatar[item-start] {
            margin-right: 10px;
        }
        p {
            color: #a0e0a2;
            font-size: 11px;
        }
    }
    .card-content {
        padding: 13px 10px 10px;
    }
    h2 {
        font-size: 16px;
        color: #fff;
        span {
            font-size: 11px;
            color: #2587c6;
        }
    }
    p {
        font-size: 13px;
        color: #d7ecff;
    }
}

.info-card h2 {
    font-size: 15px;
}


/* Rate 4 tiles */

.rate-tiles {
    padding: 0 8px 0 12px;
    .col {
        padding: 0;
    }
    .card {
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
        width: calc(100% - 4px);
        margin: 0;
        padding: 5px 8px;
        text-align: left;
        h6 {
            font-size: 13px;
            color: #7efd83;
            padding-bottom: 5px;
            text-shadow: 1px 1px rgba(6, 64, 115, 0.5)
        }
        .card-title {
            color: #fff;
            font-size: 17px;
            font-weight: normal;
        }
        .percent {
            display: inline-block;
            color: #000;
            font-size: 10px;
            font-weight: normal;
        }
    }
}

agm-map {
    height: 240px;
}