.segment {
    padding: 12px;
}

.segment .segment-button {
    height: 2.8rem;
    line-height: 2.6rem;
}

.userAvtar img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
}

h6 {
    margin-top: 0;
}

.card-title {
    color: #000;
}

chart {
    display: block;
    height: 200px;
}

chart.piechart {
    height: 350px;
}

.header .bar-buttons .badge {
    position: absolute;
    top: 0;
    right: -23px;
    font-weight: normal;
    padding: 3px 6px 3px 5px;
}